@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>    
</div>
<h1>Profiel</h1>
<p>Ik ben een ervaren IT-er met een passie voor applicatie ontwikkeling en nieuwe technolgien</p>
<p>Momenteel op zoek naar een functie waarbij ik mijn huidge kennis verder kan ontwikkelen en er op termijn mogelijkheden om door te groeien</p>

<h1>Talen</h1>
<table>
    <thead>
        <tr>
            <th>Taal</th>
            <th>Lezen</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nederlands</td>
            <td>Moedertaal</td>            
        </tr>
        <tr>
            <td>Engels</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>Frans</td>
            <td>Beginner</td>
        </tr>
        <tr>
            <td>Duits</td>
            <td>Beginner</td>
        </tr>
        <tr>
            <td>Kroatisch</td>
            <td>Beginner</td>
        </tr>
    </tbody>
    
</table>
<h1>Vaardigheden</h1>
<ul>
    <li>Analytisch</li>
    <li>Klantgericht</li>
    <li>Leervermogen</li>
    <li>Onafhankelijk</li>
</ul>
<h1>Computervaardigheden</h1>
<table>
    <tbody>
        <tr>
            <td>Microsoft Office</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>Microsoft Windows</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>Bartender Designer</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>ABAP</td>
            <td>Basis</td>
        </tr>
        <tr>
            <td>Adobe LiveCycle Designer</td>
            <td>Basis</td>
        </tr>
        <tr>
            <td>Smart forms</td>
            <td>Basis</td>
        </tr>
        <tr>
            <td>VB Script</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>Visual Basic voor Applications</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>VB.NET</td>
            <td>Basis</td>
        </tr>
        <tr>
            <td>C#</td>
            <td>Basis</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>CSS</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>Goed</td>
        </tr>
        <tr>
            <td>RPG 400</td>
            <td>Zeer goed</td>
        </tr>
    </tbody>
</table>
<h1>Werkervaring</h1>
<h1>Functioneel SAP Consultant - Delaware Belux 09/2021 - 09-2022</h1>
<ul>
    <li>Ondersteuning Verkoop en Verdeling, Materiaal beheer en EDI</li>
</ul>
<h1>Technisch analist - Nitto Belgie 10/1997 - 03-2021</h1>
<ul>
    <li> SAP support</li>
    <li> SAP Authorisatie</li>
    <li> SAP Abap</li>
    <li> SAP Smartforms</li>
    <li> Adobe LiveCycle Designer</li>
    <li> SAP PI</li>
    <li>RPG/400</li>
    <li> Lotus Notes (Administratie en ontwikkeling</li>
    <li>Visual Basic.NET</li>
    <li>Visual Bsic 6</li>
</ul>
<h1>Freelancer - CODEAS - 05/2007 - 05-2012</h1>
<ul>
    <li>Microsoft Access applicaties voor verscheidene klanten</li>
    <li>Excel Templates</li>
</ul>
<h1>IT medewerker</h1>
<ul>
    <li>IT support</li>
</ul>
<h1>Tester - Philips FT 03-1995 - 06-1996</h1>
<ul>
    <li>
        Testen van CD-I toepassingen
    </li>
</ul>