html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

textarea {
    width: 100%;
    height: max-content;
    min-height: 10em;
}

ul {
    list-style-type: none;
}

/* Bootstrap customization*/
.navbar-custom {
    background-color: #ABD7A8;
    color: whitesmoke;
    border-color: whitesmoke;
}

a#loginlink {
    color: black;
    text-decoration: none;
}

    a#loginlink:link {
        color: black;
        text-decoration: none;
    }

    a#loginlink:visited {
        color: black;
        text-decoration: none;
    }

    a#loginlink:hover {
        color: black;
        text-decoration: none;
    }

    a#loginlink:active {
        color: black;
        text-decoration: none;
    }

li.skill {
        display:inline-block;
        min-width: 200px;        
}

@media print {
    .hidden-on-print {
        display: none !important;
    }
}